.skip {
    position: absolute;
    top: -60px;
}

.skip:focus {
    position: absolute;
    top: 0px;
    color: #00274C;
    background-color: #FFCB05;
}

body {
    font-family: "Montserrat", sans-serif;
}

body a {
    color: #00274C;
}

nav {
    background-color: #00274C;
    padding: 15px;
    margin: 0 0 15px 0;
}

nav a {
    color: #FFCB05;
    padding: 0 15px 0 0;
    text-decoration: none;
    align-items: end;
}

.skip {
    position: absolute;
    top: -65px;
}

.logo {
    width: 50px;
    margin: 0 20px 0 0;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
}

img {
    width: 100%
}

iframe {
    width: 100%;
    height: 500px;
}

h1 {
    background-color: #FFCB05;
    padding: 15px;
    font-size: 32px;
    margin: 10px;
}

h2 {
    font-size: 24px;
    padding: 10px;
    margin: 10px 0 10px 0;
}

h3 {
    font-size: 18px;
    padding: 10px;
}

p {
    font-size: 16px;
    padding: 10px;
    line-height: 1.5;
}

ul, ol {
    padding: 0 0 0 20px;
    margin: 0 0 0 20px;
}

li {
    padding: 5px;
    margin: 5px;
}

.boldtext {
    font-weight: 700;
    padding: 10px 10px 0 10px; 
}

.section {
    grid-column: 1 / span 4;
    background-color: #f2f2f2;
    padding: 0 0 15px 15px;
    margin: 10px;
}

.section div {
    padding: 0 0 5px 0;
}

#home {
    background: #f2f2f2;
    padding: 15px;
}

.start {
    width: 160px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.start img {
    width: 15%;
    height: 15%;
}

.list1 {
    grid-column: 1/ span 4;
    background-color: #9A3324;
    padding: 0 0 15px 15px;
    color: white;
    margin: 10px;
}

.linkblock1 {
    grid-column: 1/ span 4;
    background-color: #575294;
    padding: 5px;
    margin: 10px;
}

.linkblock1 h2 {
    color: #ffffff;
    padding: 0 0 0 15px;
}

.linkblock1 h3 {
    color: #ffffff;
    padding: 0 0 0 15px;
}

.linkblock1 p {
    color: #ffffff;
    padding: 0 0 0 15px;
}

.linkblock1 a {
    display: block;
    background-color: #FFCB05;
    margin: 15px;
    padding: 10px;
    text-align: center;
}

.linkblock2 {
    grid-column: 1/ span 4;
    background-color: #702082;
    padding: 5px;
    margin: 10px;
}

.linkblock2 h2 {
    color: #ffffff;
    padding: 0 0 0 15px;
}

.linkblock2 h3 {
    color: #ffffff;
    padding: 0 0 0 15px;
}

.linkblock2 p {
    color: #ffffff;
    padding: 0 0 0 15px;
}

.linkblock2 li {
    color: #ffffff;
    padding: 0 0 0 15px;
}

.linkblock2 a {
    display: block;
    background-color: #FFCB05;
    margin: 15px;
    padding: 10px;
    text-align: center;
}

footer {
    background-color: #00274C;
    padding: 15px;
    margin: 15px 0 0 0;
    color: white;
}

footer a {
    color: #FFCB05;
}
