.skip {
    position: absolute;
    top: -60px;
}

.skip:focus {
    position: absolute;
    top: 25px;
    color: #00274C;
    background-color: #FFCB05;
    padding: 15px;
}

body {
    font-family: "Montserrat", sans-serif;
}

main a {
    color: #00274C;
}

main a:hover {
    background-color: #00274C;
    color: #FFCB05;
    border: solid 2px #FFCB05;
}

nav {
    background-color: #00274C;
    padding: 15px;
    margin: 0 0 15px 0;
    display: flex;
    align-items: flex-end;
}

nav a {
    color: #FFCB05;
    padding: 0 15px 0 0;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.activehome {
    text-decoration: underline;
}

.activeresume {
    text-decoration: underline;
}

.activenetwork{
    text-decoration: underline;
}

.activesearch {
    text-decoration: underline;
}

footer a {
    color: #FFCB05;
    text-decoration: none;
}

footer a:hover {
    color: #FFCB05;
    text-decoration: underline;
}

.skip {
    position: absolute;
    top: -65px;
}

.logo {
    width: 50px;
    margin: 0 20px 0 0;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
}

img {
    width: 100%
}

iframe {
    width: 100%;
    height: 500px;
}

h1 {
    background-color: #FFCB05;
    padding: 15px;
    font-size: 32px;
    margin: 10px;
}

h2 {
    font-size: 24px;
    padding: 10px;
    margin: 10px 0 10px 0;
}

h3 {
    font-size: 18px;
    padding: 10px;
}

p {
    font-size: 16px;
    padding: 10px;
    line-height: 1.5;
}

ul, ol {
    padding: 0 0 0 20px;
    margin: 0 0 0 20px;
}

li {
    padding: 5px;
    margin: 5px;
}

.boldtext {
    font-weight: 700;
    padding: 10px 10px 0 10px;
}

.section {
    grid-column: 1 / span 4;
    background-color: #f2f2f2;
    padding: 0 0 15px 15px;
    margin: 10px;
}

.section div {
    padding: 0 0 5px 0;
}

#mainsection {
    background: #f2f2f2;
    padding: 0 15px 15px 15px;
}

#connect a{
    text-decoration: underline;
}

#connect a:hover{
    border: solid #00274C;
    background-color: #f2f2f2;
    color:#00274C;
}

.start {
    width: 160px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.start img {
    width: 15%;
    height: 15%;
}

.list1 {
    grid-column: 1/ span 4;
    background-color: #9A3324;
    padding: 0 0 15px 15px;
    color: white;
    margin: 10px;
}

.list2 {
    grid-column: 1/ span 4;
    background-color: #702082;
    padding: 0 0 15px 15px;
    color: white;
    margin: 10px;
}

.linkblock1 {
    grid-column: 1/ span 4;
    background-color: #575294;
    padding: 5px;
    margin: 10px;
    color: #ffffff;
}

.linkblock1 h2 {
    padding: 0 0 0 15px;
}

.linkblock1 h3 {
    padding: 0 0 0 15px;
}

.linkblock1 p {
    padding: 0 0 0 15px;
}

.linkblock1 a {
    display: block;
    background-color: #FFCB05;
    margin: 15px;
    padding: 10px;
    text-align: center;
}

.form {
    background-color: #2F65A7;
    color: #ffffff;
    padding: 15px;
    margin: 10px;
    grid-column: 1 / span 4;
    display: grid;
}

label {
    display: block;
    margin: 0;
}

input {
    display: block;
    height: 2em;
    width: 50%;
    margin: 0 5px 20px 5px;
}

select, option {
    display: block;
    height: 3em;
    width: 50%;
    margin: 0 5px 20px 5px;
}

textarea {
    display: block;
    width: 100%;
    height: 5em;
    margin: 0 20px 0 0;
}

#submit {
    display: block;
    width: 100%;
    height: 3em;
    margin: 30px 15px 15px 15px;
    background-color: #FFCB05;
    color:#00274C;
    justify-self: center;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}

#submit:hover {
    width: 100%;
    height: 3em;
    margin: 15px;
    background-color: #00274C;
    color:#FFCB05;
    margin: 30px 15px 15px 15px;
}

footer {
    background-color: #00274C;
    padding: 15px;
    margin: 15px 0 0 0;
    color: white;
}

footer a {
    color: #FFCB05;
    text-decoration: underline;
}

footer a:hover {
    border: solid #FFCB05;
}

.errorcontainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-content: space-between;
}

.message {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
        display: flex;
        flex-direction: column;
        row-gap: 5px;
}

#errorh1 {
        font-size: 48px;
        text-align: center;
        background-color: #ffffff;
        margin: 0 0;
        padding: 0 0;
}

#errorp {
        text-align: center;
}

#errorlink {
        background-color: #00274C;
        color:#FFCB05;
        text-decoration: none;
        padding: 15px;
        margin: 15px;
        width: 50%;
        align-self: center;
        text-align: center;
}

#errorlink:hover {
        text-decoration: underline;
        border: none;
}

@media (min-width: 800px) {
    #mainsection {
        grid-column: 2 / span 3;
        grid-row: 1 / span 2;
    }

    #mainsectionwide {
        grid-column: 1 / span 4;
        grid-row: 1 / span 1;
    }

    .linkblock1 {
        grid-column: 1 / span 1;
        grid-row: 1 / span 3;
    }

    .linkblock1 h2 {
        grid-column: 1 / span 1;
        grid-row: 1 / span 3;
        margin: 10px 10px 15px 0;
    }

    .linkblock1 a {
        margin: 20px 15px;
    }

    .connect {
        grid-column: 2 / span 3;
    }

    .form {
        grid-column: 1 / span 4;
    }

    .video {
        width: 60%;
        aspect-ratio: 16 / 9;
        justify-self: center;
    }
    iframe {
        width: 100%;
        height: 100%;
        display: block;
    }
    .image {
        justify-self: center;
        margin: 40px
    }

    img {
        width: 100%;
    }

    #mainwide {
        grid-column: 1 / span 4;
        grid-row: 1 / span 1;
    }

   .searchlist1 {
        grid-column: 1 / span 2;
        grid-row: 2 / span 1;
   }
   .searchlist2 {
        grid-column: 3 / span 2;
        grid-row: 2 / span 1;
   }

   .searchlinks {
        grid-column: 1 / span 4;
        grid-row: 3 / span 1;
   }

    .networklist {
        grid-column: 1 / span 2;
        grid-row: 2 / span 1;
    }

    .networklinks {
        grid-column: 3 / span 2;
        grid-row: 2 / span 1;
    }

    .maincontent {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        padding: 0;
    }

    text {
        grid-column: 2 / span 1;
    }

    image {
        grid-column: 1 / span 1;
    }

    .resumelist {
        grid-column: 3 / span 2;
        grid-row: 2 / span 1;
    }

    .resumelinks {
        grid-column: 1 / span 2;
        grid-row: 2 / span 1;
    }
}
